<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.touchissue" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TouchIssue</name>
    <description>
        A sample application that demonstrates the touchend issue on iPhone6 with iOS8
    </description>
    <author email="hjellek@warmsys.com">
        Knut Eirik Leira Hjelle
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
